<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Framework.Resources.TDataPaths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Framework.Resources.TestDataPaths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="browser.current" value="chrome"/>
    
    <add key="browserstack.user" value="alehbaslak1"/>
    <add key="browserstack.key" value="k1MxnSxchcJYZ6LPxYWs"/>
    <add key="browser" value="Chrome"/>
    <add key="browser_version" value="55.0"/>
    <add key="os" value="Windows"/>
    <add key="os_version" value="10"/>
    <add key="resolution" value="1366x768"/>
    <add key="build" value="not first test"/>
    <add key="project" value="First tests project"/>
    <add key="name" value="Test"/>
  </appSettings>
  
  <userSettings>
    <Framework.Resources.TDataPaths>
      <setting name="CountriesWithAirports" serializeAs="String">
        <value />
      </setting>
    </Framework.Resources.TDataPaths>
    <Framework.Resources.TestDataPaths>
      <setting name="CountriesWithAirports" serializeAs="String">
        <value>Framework/Resources/CountriesWithAirports.xml</value>
      </setting>
    </Framework.Resources.TestDataPaths>
  </userSettings>
</configuration>